<div class="form-head profile-container">Смена пароля</div>
<div class="__form-container profile-container">
  <form action="{% url spbelect_voting.account.views.change_password %}"
    method="post" class="form password-form">
    <div>
      {{ change_password_form.old_password }}
      {{ change_password_form.old_password.label_tag}}
      {% if change_password_form.old_password.errors %}
      <div class="field-errors">
        {{ change_password_form.old_password.errors|striptags }}
      </div>
      {% endif %}
    </div>
    <div>
      {{ change_password_form.password1 }}
      {{ change_password_form.password1.label_tag}}
      {% if change_password_form.password1.errors %}
      <div class="field-errors">
        {{ change_password_form.password1.errors|striptags }}
      </div>
      {% endif %}
    </div>
    <div>
      {{ change_password_form.password2 }}
      {{ change_password_form.password2.label_tag}}
      {% if change_password_form.password2.errors %}
      <div class="field-errors">
        {{ change_password_form.password2.errors|striptags }}
      </div>
      {% endif %}
    </div>
    {% if change_password_form.non_field_errors  or errors%}
    <div>
      {% if change_password_form.non_field_errors %}
      <div class="field-errors">
        {{ change_password_form.non_field_errors|striptags }}
      </div>
      {% endif %}
      {% if errors %}
      <div class="field-errors">
        {{ errors }}
      </div>
      {% endif %}
    </div>
    {% endif %}
    <div>
      <input type="submit" name="submit" value="Изменить" />
    </div>
    {% csrf_token %}
  </form>
</div>