{% extends 'layout.html' %}

{% block head_scripts %}{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    if ($('input[name=answers]:checked').length == 7) {
      $('input[name=answers]:not(:checked)').attr('disabled', 'disabled');
    }
  });

  $(document).on('click', 'input[name=answers]', function() {
    if ($('input[name=answers]:checked').length == 7) {
      $('input[name=answers]:not(:checked)').attr('disabled', 'disabled');
    } else {
      $('input[name=answers]:not(:checked)').removeAttr('disabled');
    }
  });
</script>
{% endblock head_scripts %}

{% block content %}
<div class="wrapper">
  <b>{{ question.title }}</b><br /><br />

  {{ question.text }}<br /><br />

  <form action="/answer/{{ question.id }}" method="post">
  <table cellpadding="10px" width="100%">
  {% for answer in answers %}
    <tr>
      <td width="50px">
        <input id="id_answers_{{ answer.id }}" type="checkbox" value="{{ answer.id }}" name="answers" />
      </td>
      <td width="140px">{% if answer.photo %}<img src="{{ answer.photo.url }}" width="128px" />{% endif %}</td>

      <td>
        <b>{{ answer.title }}</b><br /><br />
        {{ answer.text|safe }}
      </td>
    </tr>
    <tr><td colspan="3"><hr /></td></tr>
  {% endfor %}
  </table>
  {% csrf_token %}
  <br /><br />
  <input type="submit" value="Проголосовать"/>
  </form>
</div>
{% endblock content %}
