{% extends 'layout.html' %}

{% block content %}
<div class="wrapper">
  {% if active_questions %}<h4>Вопросы, по которым предлагается проголосовать:</h4>{% endif %}
  {% for question in active_questions %}
  <a href="/question/{{ question.id }}">{{ question.id }}. {{ question.title }}</a><br /><br />
  {% endfor %}

  {% if not_active_questions %}<h4>Вопросы по которым вы уже проголосовали:</h4>{% endif %}
  {% for question in not_active_questions %}
  {{ question.id }}. {{ question.title }}<br /><br />
  {% endfor %}
</div>
{% endblock content %}
