{% extends 'layout.html' %}

{% block content %}
<div class="wrapper">
  {% if active_questions %}Вопросы, по которым предлагается проголосовать:<br /><br />{% endif %}
  <ul>
  {% for question in active_questions %}

  <li><a href="/question/{{ question.id }}">{{ question.title }}</a><br /><br /></li>

  {% endfor %}
  </ul>
  {% if not_active_questions %}Вопросы по которым вы уже проголосовали:<br /><br />{% endif %}
  <ul>
  {% for question in not_active_questions %}

  <li>{{ question.title }}</li>

  {% endfor %}
  </ul>
</div>
{% endblock content %}
